@import '@/app/styles/variables';
@import '@/app/styles/breakpoints';

.feedHeader,
.feedHeaderMarginBottom {
	font-weight: 500;
	position: sticky;
	top: $gamebarHeight;
	z-index: 1;
	background-color: $black;
	padding-top: 2rem;
	@include breakpoint(sm) {
		top: $gamebarHeight;
		max-width: 100vw;
		padding-top: 0;
	}
	@include breakpoint(xs) {
		padding-top: 0;
		max-width: 100%;
		min-width: 100%;
	}
	.header {
		background-color: lighten($gray, 7%);
		height: 45px;
		display: flex;
		align-items: center;
		padding-left: 15px;
		gap: 5px;

		a {
			cursor: pointer;
			color: $white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.feedHeaderMarginBottom {
	@include breakpoint(xs) {
		padding-top: 0;
		max-width: 100%;
		min-width: 100%;
		margin-bottom: 1.2rem;
	}
}
