@import '@/app/styles/variables';
@import '@/app/styles/mixins';
@import '@/app/styles/breakpoints';

.bordered,
.noBorder {
	@include button();
	margin: 10px 0;
	.shortLabel {
		display: none;
		@include breakpoint(xs) {
			display: block;
		}
	}
	.longLabel {
		display: block;
		@include breakpoint(xs) {
			display: none;
		}
	}
}

.bordered {
	border: 1px solid dodgerblue;
}
