@import '@/app/styles/variables';
@import '@/app/styles/mixins';
@import '@/app/styles/breakpoints';

.badge {
	display: flex;
	gap: 5px;
	padding: 1rem;
	padding-top: 0;
	cursor: pointer;
	@include breakpoint(xs) {
		margin: 0;
	}
	.ezBadge,
	.optimisticBadge,
	.riskyBadge {
		@include badge();
		font-weight: 400;
	}
	.ezBadge {
		background-color: rgba(121, 189, 154, 0.25);
		border: 1px solid rgba(121, 189, 154, 0.5);
		color: #b7d6c6;
	}
	.optimisticBadge {
		background-color: rgba(105, 170, 221, 0.25);
		border: 1px solid rgba(105, 170, 221, 0.5);
		color: #c8d9ea;
	}
	.riskyBadge {
		background-color: rgba(221, 105, 105, 0.25);
		border: 1px solid rgba(221, 105, 105, 0.5);
		color: #f1d3d3;
	}
}
