@import '@/app/styles/variables';
@import '@/app/styles/mixins';
@import '@/app/styles/breakpoints';

.badge {
	display: flex;
	gap: 5px;
	padding: 1rem;
	padding-top: 0;
	cursor: pointer;
	@include breakpoint(xs) {
		margin: 0;
	}
	.ezBadge,
	.optimisticBadge,
	.riskyBadge {
		@include badge();
		font-weight: 400;
	}
	.ezBadge {
		background-color: #d1f7c4;
		color: #07420b;
	}
	.optimisticBadge {
		background-color: #7286d3;
		color: #062349;
	}
	.riskyBadge {
		background-color: #fa7777;
		color: #42090b;
	}
}
