@import './variables';
@import './breakpoints';

@mixin button {
	padding: 10px;
	width: 100%;
	border: 1px solid $lightGray;
	border-radius: 8px;
	height: 45px;
	font-size: 14px;
	display: flex;
	align-items: center;
	font-weight: 600;
	gap: 1rem;
	&:hover {
		cursor: pointer;
		background-color: darken($secondaryAccent, 5%);
	}
}

@mixin badge {
	padding: 4px 5px;
	color: white;
	width: fit-content;
	border-radius: 4px;
	font-size: 13px;
	color: #1a222c;
	font-weight: 400;
}

@mixin page {
	flex-grow: 1;
	background-color: $black;
	max-width: 833px;
	position: relative;
	min-height: calc(100vh - $gamebarHeight);
	height: fit-content;
	// margin: 0 520px;
	margin-top: $gamebarHeight;
	padding: 2rem;
	padding-top: 0;
	color: $white;
	@include breakpoint(xl) {
		// margin: 0 320px;
		margin-top: $gamebarHeight;
	}
	@include breakpoint(lg) {
		// margin: 0 320px;
		margin-top: $gamebarHeight;
	}
	@include breakpoint(md) {
		// margin-left: 280px;
		min-width: calc(100% - 280px);
		max-width: 720px;
		min-width: 720px;
	}
	@include breakpoint(sm) {
		// margin: 0 280px;
		min-width: calc(100% - 280px);
		margin-top: $gamebarHeight;
	}
	@include breakpoint(xs) {
		margin: 0;
		padding: 0;
		// margin-top: 55px;
	}
}

@mixin scrollbars() {
	// For Google Chrome
	&::-webkit-scrollbar {
		width: 100%;
		height: 2px;
	}

	&::-webkit-scrollbar-thumb {
		background: $lightGray;
	}

	&::-webkit-scrollbar-track {
		background: $gray;
	}

	// For Internet Explorer
	& {
		scrollbar-face-color: blue;
		scrollbar-track-color: orange;
	}
}

@mixin postCard() {
	width: 100%;
	// border-radius: 6px;
	background-color: $gray;
	border-bottom: 2px solid $lightGray;
	color: $white;
	display: flex;
	flex-direction: column;
	height: fit-content;
}

@mixin overlay() {
	justify-content: center;
	align-items: center;
	display: flex;
	overflow-x: hidden;
	// overflow-y: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999999;
	outline: none;
	background-color: rgba(3, 3, 3, 0.7);
}

@mixin modal() {
	position: fixed;
	width: 30%;
	max-width: 450px;
	min-width: 450px;
	height: fit-content;
	padding: 1rem;
	border-radius: 12px;
	background-color: $lightGray;
	color: $white;
	transition: 300ms ease-in-out;
	opacity: 1;
	height: fit-content;
	@include breakpoint(md) {
		width: 50%;
	}
	@include breakpoint(xs) {
		width: 100%;
		height: fit-content;
		min-width: 100%;
		top: 0;
		border-radius: 0;
		left: 0;
		bottom: 0;
		position: absolute;
	}
}
