$black: #1a222c;
$gray: #212a35;
$lightGray: #1c262f;
$white: #fcfeff;
$secondaryText: #8497b3;
$accent: #20b46a;
$secondaryAccent: #2a333f;
$gamebarHeight: 75px;
$border: #393f4f;
$navigationPanelWidth: 55px;
