// colors 🎨
$black: #1a222c;
$gray: #212a35;
$lightGray: #1c262f;
$white: #fcfeff;
$secondaryText: #8497b3;
$accent: #20b46a;
$secondaryAccent: #2a333f;
$border: #393f4f;

// font size ✏️
$fontSizeLg: 16px;
$fontSizeMd: 14px;
$fontSizeSm: 12px;
$fontSizeXs: 10px;

// heights / widths 📏
$navigationPanelWidth: 55px;
$gamebarHeight: 75px;
