@import './variables';
@import './breakpoints';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

body {
	display: flex;
	max-width: 100vw;
	background-color: $black;
}

.sidebarContainer {
	background-color: $gray;
	border-right: 1px solid $lightGray;
	height: 100vh;
	width: 280px;
	position: fixed;
	left: 0;
	top: 0px;
	z-index: 2;
	@include breakpoint(md) {
		max-width: 280px;
		min-width: 280px;
	}

	@include breakpoint(sm) {
	}

	@include breakpoint(xs) {
		max-width: 0;
		display: none;
	}
}

.gamebarContainer {
	background-color: $gray;
	border-bottom: 1px solid $lightGray;
	height: $gamebarHeight;
	position: fixed;
	top: 0;
	left: 280px;
	width: 100vw;
	z-index: 2;
	@include breakpoint(xs) {
		left: 0;
	}
}

.mainContainer {
	width: 100%;
	min-height: 100vh;
}

.main {
	background-color: $black;
	color: #222222;
	height: fit-content;
	position: relative;
	width: 100%;
	.mainFeed {
		@include page();
	}
	.rightSidebar {
		// background-color: $gray;
		// border: 2px solid $lightGray;
		width: 280px;
		height: 70vh;
		margin-left: auto;
		position: fixed;
		top: $gamebarHeight;
		right: 0;
		height: calc(100vh - $gamebarHeight);
		margin-top: 2rem;
		margin-left: 2rem;
		border-radius: 12px;
		margin-right: 1rem;

		@include breakpoint(md) {
			display: none;
		}
		@include breakpoint(sm) {
			display: none;
		}
	}
}
