@import '@/app/styles/mixins';
@import '@/app/styles/variables';

.postFeed {
	display: flex;
	flex-direction: column;
	@include breakpoint(xs) {
		position: relative;
	}
	.feedToggle {
		height: 51px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		// background-color: darken($black, 2%);
		background-color: $lightGray;
		color: $secondaryText;
		font-size: 14px;
		border-bottom: 1px solid $border;
		@include breakpoint(xs) {
			position: relative;
			top: 0;
			max-width: 100vw;
		}
		.tab,
		.activeTab {
			font-weight: 500;
			position: relative;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
		.activeTab {
			color: $white;
			&:before {
				border-color: transparent transparent $border;
				border-style: solid;
				border-width: 0 10px 10px;
				bottom: 0;
				content: '';
				display: block;
				height: 0;
				left: 50%;
				position: absolute;
				transform: translateX(-50%);
				width: 0;
			}
			&:after {
				position: absolute;
				content: '';
				display: block;
				height: 0;
				left: 50%;
				position: absolute;
				transform: translateX(-50%);
				width: 0;
				border-style: solid;
				border-width: 0 10px 10px;
				border-color: transparent transparent $gray;
				bottom: -1px;
			}
		}
	}
	.peopleFeed {
		background-color: $gray;
		padding: 10px;
	}
	.noBetsMessage {
		background-color: $gray;
		padding: 1rem;
		display: flex;
		justify-content: center;
		height: calc(100vh - 343px - $gamebarHeight - 3.2rem - 66px);

		@include breakpoint(sm) {
			height: calc(100vh - 343px - $gamebarHeight);
		}
		position: relative;
		align-items: center;
		font-size: 14px;
		color: lightgray;
	}
}
