@import '@/app/styles/variables';
@import '@/app/styles/breakpoints';
@import '@/app/styles/mixins';

.page {
	@include page();
	padding-top: 2rem;
	@include breakpoint(xs) {
		position: relative;
		top: $gamebarHeight;
		padding-top: 2rem;
	}
	.profilePosts {
		margin-top: 1rem;
		@include breakpoint(xs) {
			margin: 0;
		}
	}
}
