@import '@/app/styles/variables';
@import '@/app/styles/breakpoints';
@import '@/app/styles/mixins';

.communityBox {
	margin-top: 1rem;
	background-color: $gray;
	border: 1px solid $lightGray;
	padding: 1rem;
	display: flex;
	gap: 1rem;
	border-radius: 4px;
	height: 100px;
	position: relative;
	align-items: center;
	.communityImage {
		background-color: #4d4d4d;
		border-radius: 6px;
		padding: 4px;
		p {
			font-size: 1.8rem;
			padding-bottom: 1px;
		}
	}
	.communityName {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 5px;
		height: 50px;
		.name {
			font-weight: 600;
			font-size: 18px;
			display: flex;
			align-items: center;
			gap: 10px;
			.members {
				display: flex;
				align-items: center;
				gap: 5px;
				color: $secondaryText;
				font-size: 14px;
			}
		}
		.description,
		.owner {
			color: $secondaryText;
			font-size: 13px;
		}
	}
	.communityInfo {
		margin-top: 1rem;
		button {
			width: fit-content;
			// margin-top: auto;
			position: absolute;
			right: 1rem;
			bottom: calc(1rem + 10px);
			padding: 0;
			background-color: $lightGray;
			padding: 5px 15px;
			&:hover {
				background-color: $accent;
			}
		}
	}
	.privacy {
		position: absolute;
		right: 1rem;
		top: 1rem;
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 13px;
		color: $accent;
	}
}
