@import '@/app/styles/variables';
@import '@/app/styles/mixins';

.mobileNavbar,
.hideMobileNavbar {
	height: 45px;
	width: 100vw;
	background-color: $gray;
	display: flex;
	align-items: center;
	color: $secondaryText;
	padding: 0 1.5rem;
	position: fixed;
	top: $gamebarHeight;
	transition-timing-function: ease-in-out;
	transition: 200ms;
	opacity: 1;
	.menu {
		display: flex;
		align-items: center;
		margin-right: 1rem;
		cursor: pointer;
		z-index: 9999;
	}
	.userMenu,
	.hideUserMenu {
		position: fixed;
		left: 0;
		top: $gamebarHeight;
		height: 100vh;
		width: 65%;
		background-color: $gray;
		border-right: 1px solid $lightGray;
		transition: 300ms ease-in-out;
		opacity: 1;
		z-index: 99999;
		max-width: 300px;
	}
	.hideUserMenu {
		transform: translateX(-650px);
		opacity: 0;
	}
}

.hideMobileNavbar {
	@include breakpoint(xs) {
		opacity: 0;
	}
}
