@import '../../../styles/variables';

.commentItem {
	padding: 1rem 2rem;
	border-top: 1px solid $lightGray;
	border-bottom: 1px solid $lightGray;
	position: relative;
	.commentMenu {
		position: absolute;
		right: 1.6rem;
		top: 1rem;
		cursor: pointer;
	}
	.commentBody {
		display: flex;
		gap: 10px;
		align-items: center;
		img {
			max-width: 30px;
			max-height: 30px;
			margin-bottom: auto;
		}
		.name {
			display: flex;
			align-items: center;
			gap: 5px;
			word-wrap: break-word;
			.username {
				font-weight: 500;
				font-size: 13px;
				display: flex;
				align-items: center;
				gap: 2px;
			}
			.body {
				color: $secondaryText;
				font-size: 13px;
				margin-left: 5px;
			}
		}
	}
	.commentFooter {
		display: flex;
		align-items: center;
		padding-top: 5px;
		.likeBtn {
			background-color: $lightGray;
			width: fit-content;
			padding: 5px 8px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			gap: 5px;
			margin-left: auto;
			font-size: 13px;
			cursor: pointer;
			&:hover {
				background-color: lighten($lightGray, 2%);
			}
			span {
				position: relative;

				display: flex;
				justify-content: center;
				padding-left: 8px;
				&:after {
					position: absolute;
					content: '';
					left: 0;
					background-color: $secondaryText;
					width: 1px;
					height: 65%;
					top: 50%;
					transform: translate(0%, -50%);
				}
			}
		}
	}
}
