@import '../../../styles/variables';

.postCardMenu {
	background-color: $black;
	border: 1px solid $lightGray;
	width: 100px;
	min-height: 75px;
	position: absolute;
	top: 1rem;
	right: 2rem;
	border-radius: 5px;
	padding: 10px 5px;
	p {
		font-size: 14px;
		padding: 3px 5px;
		border-radius: 3px;
		&:hover {
			background: $gray;
		}
	}
}
