@import '@/app/styles/mixins';

.loadingContent {
	@include page();
	padding-top: 2rem;
	@include breakpoint(sm) {
		padding-top: 55px;
	}
	@include breakpoint(xs) {
		padding-top: calc(55px + 1.1rem);
	}
}
