@import '@/app/styles/mixins';

.loadingContent {
	@include page();
	padding-top: 2rem;
	@include breakpoint(sm) {
		padding-top: $gamebarHeight;
	}
	@include breakpoint(xs) {
		padding-top: $gamebarHeight;
	}
}
