@import '@/app/styles/variables';
@import '@/app/styles/mixins';

.overlay {
	@include overlay();
}

.imageView {
	position: fixed;
	max-width: 100%;
	min-width: 100%;
	height: 100%;
	padding: 1rem;

	.close {
		position: absolute;
		z-index: 99;
		right: 1rem;
		top: 6px;
		cursor: pointer;
	}

	.image {
		width: auto;
		height: auto;
		max-height: 100%;
		max-width: 100%;
		object-fit: contain;
	}
}
