@import '../../styles/variables';
@import '../../styles/breakpoints';
@import '../../styles/mixins';

.post {
	width: 100%;
	padding: 1rem;
	border-radius: 6px;
	background-color: $black;
	border: 2px solid $lightGray;
	color: $white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	.postBody {
		// margin-left: 60px;
		@include breakpoint(xs) {
			margin: 0;
		}
	}
	.postPhoto {
		max-height: 300px;
		position: relative;
		img {
			max-height: 300px;
			position: relative !important;
			border-radius: 6px;
		}
	}
	.badges {
		display: flex;
		// margin-left: 60px;
		gap: 5px;
		@include breakpoint(xs) {
			margin: 0;
		}
		.badge {
			padding: 5px 10px;
			background-color: dodgerblue;
			color: white;
			width: fit-content;
			border-radius: 4px;
			font-size: 13px;
		}
		.favBadge,
		.dogBadge,
		.ezBadge,
		.optimisticBadge,
		.riskyBadge {
			@include badge();
			background-color: #98d8aa;
		}
		.dogBadge {
			background-color: #f7d060;
		}
		.ezBadge {
			background-color: #00ce79;
		}
		.optimisticBadge {
			background-color: #7286d3;
		}
		.riskyBadge {
			background-color: #f55050;
		}
	}


}
