@import '../../styles/variables';
@import '../../styles/breakpoints';
@import '../../styles/mixins';

.post {
	width: 100%;
	border-radius: 6px;
	background-color: $gray;
	border: 1px solid $lightGray;
	color: $white;
	display: flex;
	flex-direction: column;

	.postBody {
		padding: 0rem 1rem;
		padding-bottom: 1rem;

		@include breakpoint(xs) {
			margin: 0;
		}
	}
	.postPhoto {
		max-height: 300px;
		position: relative;
		border-top: 1px solid $lightGray;
		border-bottom: 1px solid $lightGray;
		img {
			max-height: 300px;
			position: relative !important;
		}
	}
	.badges {
		display: flex;
		gap: 5px;
		padding: 1rem;
		padding-top: 0;
		@include breakpoint(xs) {
			margin: 0;
		}
		.ezBadge,
		.optimisticBadge,
		.riskyBadge {
			@include badge();
		}
		.ezBadge {
			background-color: #00ce79;
		}
		.optimisticBadge {
			background-color: #7286d3;
		}
		.riskyBadge {
			background-color: #f55050;
		}
	}
}
