@import '../../styles/variables';
@import '../../styles/breakpoints';
@import '../../styles/mixins';

.post {
	width: 100%;
	padding: 1rem;
	border-radius: 6px;
	background-color: $black;
	border: 2px solid $lightGray;
	color: $white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	.postHeader {
		display: flex;
		gap: 20px;
		position: relative;
		.profilePicture {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: skyblue;
			img {
				border-radius: 50%;
			}
		}
		.userName {
			display: flex;
			flex-direction: column;
			justify-content: center;
			span {
				color: $secondaryText;
				font-size: 13px;
			}
		}
		.postMenu {
			margin-left: auto;
			cursor: pointer;
		}
	}
	.postBody {
		margin-left: 60px;
		@include breakpoint(xs) {
			margin: 0;
		}
	}
	.badges {
		display: flex;
		margin-left: 60px;
		gap: 5px;
		@include breakpoint(xs) {
			margin: 0;
		}
		.badge {
			padding: 5px 10px;
			background-color: dodgerblue;
			color: white;
			width: fit-content;
			border-radius: 4px;
			font-size: 13px;
		}
		.favBadge,
		.dogBadge,
		.ezBadge,
		.optimisticBadge,
		.riskyBadge {
			@include badge();
			background-color: #98d8aa;
		}
		.dogBadge {
			background-color: #f7d060;
		}
		.ezBadge {
			background-color: #00ce79;
		}
		.optimisticBadge {
			background-color: #7286d3;
		}
		.riskyBadge {
			background-color: #f55050;
		}
	}

	.postBet {
		padding: 10px 1rem;
		background-color: $gray;
		border-radius: 6px;
		margin-left: 60px;
		@include breakpoint(xs) {
			margin: 0;
		}
		.disclaimer {
			font-size: 10px;
			width: 100%;
			display: flex;
			justify-content: center;
			color: $secondaryText;
			padding-top: 10px;
		}
		.postBetHeader {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			.betName {
				font-weight: 500;
				font-size: 13px;
				@include breakpoint(xs) {
					font-size: 12px;
				}
			}
			.betOdds {
				padding: 10px 30px;
				max-width: fit-content;
				border-radius: 4px;
				margin-left: auto;
				background-color: $lightGray;
				color: dodgerblue;
				font-weight: 600;
			}
		}
		.postBetBody {
			font-size: 15px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-bottom: 1rem;
			@include breakpoint(xs) {
				font-size: 12px;
			}
		}
	}
}
