@import '@/app/styles/variables';
@import '@/app/styles/breakpoints';
@import '@/app/styles/mixins';

.sportSelectorContainer {
	width: 100%;
	display: flex;
	align-items: center;
	overflow-x: auto;
	padding: 20px 0;
	background-color: $lightGray;
	justify-content: space-evenly;
	overflow-x: auto;
	@include breakpoint(xs) {
		max-width: 100%;
	}
	.sportSelector {
		display: flex;
		gap: 1rem;
		@include breakpoint(xs) {
			max-width: 100%;
			gap: 5px;
			padding: 0 10px;
		}
		.sport,
		.sportHideOnMobile,
		.selectedSport,
		.selectedSportHideOnMobile {
			border: 1px solid $border;
			padding: 6px 12px;
			border-radius: 22px;
			font-size: 12px;
			text-transform: uppercase;
			cursor: pointer;
			color: $secondaryText;
			&:hover {
				color: $white;
			}
		}
		.selectedSport {
			color: $white;
			border: 1px solid $white;
		}
		.sportHideOnMobile,
		.selectedSportHideOnMobile {
			@include breakpoint(xs) {
				display: none;
			}
		}
	}
}

.sportsbookTable {
	background-color: $gray;
	height: 100%;
	width: 100%;
	padding: 10px;
	.header {
		text-transform: uppercase;
		font-weight: 500;
		padding-bottom: 10px;
	}
	.feed {
		display: flex;
		flex-direction: column;
		gap: 10px;
		transition: opacity 0.5s;
	}
	.feed.loading {
		opacity: 0;
		pointer-events: none;
	}

	.feed.loaded {
		opacity: 1;
	}

	.betSlipMobile {
		display: none;
		@include breakpoint(sm) {
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 9999;
			max-width: calc(100vw - $navigationPanelWidth);
			color: $black;
		}
	}
}
