@import '../../styles/variables';

.textareaWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	label {
		font-size: 16px;
		margin-top: 10px;
		font-weight: 600;
	}
	.textarea {
		width: 100%;
		padding: 13px;
		border-radius: 8px;
		outline: none;
		height: 95px;
		border: none;
		background-color: #373737;
		color: #dadada;
		resize: none;
		max-height: 100px;
		:disabled {
			cursor: not-allowed;
		}
	}
}
