@import '@/app/styles/variables';

.inputContainer {
	min-height: 90px;
	position: relative;
	min-width: 100%;
	height: fit-content;
	.inputWrapper,
	.inputWrapperBordered {
		background-color: $gray;
		border-radius: 10px;
		color: white;
		min-height: 45px !important;
		position: relative;
		padding: 0px 10px;
		display: flex;
		flex-direction: column;
		height: fit-content;
		min-height: 115px;
		gap: 5px;
		.createPostWrapper {
			display: flex;
			align-items: center;
			position: relative;
			min-height: 50px;
			gap: 1rem;
			height: fit-content;
		}
		.inputButtons {
			width: 100%;
			height: 45px;
			display: flex;
			align-items: center;
			padding-left: 50px;
			gap: 10px;
			svg {
				position: relative;
				top: 2px;
				cursor: pointer;
				&:nth-child(1) {
					position: relative;
					top: -1.5px;
				}
			}
			button {
				background-color: $lightGray;
				width: fit-content;
				padding: 3px 15px;
				border-radius: 5px;
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;
				&:hover {
					background-color: lighten($lightGray, 2%);
				}
				&:nth-of-type(1) {
					margin-left: auto;
				}
			}
		}
	}
	.inputWrapperBordered {
		border: 2px solid $lightGray;
		padding: 5px 15px;
		margin-bottom: 1rem;
	}
	.inputWrapper {
		padding: 1rem;
		button {
			background-color: $lightGray;
			width: fit-content;
			padding: 5px 8px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			margin-left: auto;
			margin-top: 10px;
			&:hover {
				background-color: lighten($lightGray, 2%);
			}
		}
	}
}
