@import '@/app/styles/variables';
@import '@/app/styles/mixins';

.inputContainer,
.commentInputContainer,
.groupInputContainer {
	min-height: 90px;
	position: relative;
	min-width: 100%;
	height: fit-content;
	position: sticky;
	top: $gamebarHeight;
	z-index: 2;
	padding-top: 2rem;
	background-color: $black;
	transition-timing-function: ease-in-out;
	transition: 200ms;
	opacity: 1;
	@include breakpoint(xs) {
		padding-top: 45px;
		// top: calc($gamebarHeight + 55px);
	}
	.inputWrapper,
	.inputWrapperBordered {
		background-color: $gray;
		color: white;
		min-height: 45px !important;
		position: relative;
		padding: 0px 10px;
		display: flex;
		flex-direction: column;
		height: fit-content;
		min-height: 115px;
		gap: 5px;
		border-bottom: 2px solid $lightGray;
		.createPostWrapper {
			display: flex;
			align-items: center;
			position: relative;
			min-height: 50px;
			gap: 1rem;
			height: fit-content;
		}
		.inputButtons {
			width: 100%;
			height: 45px;
			display: flex;
			align-items: center;
			gap: 8px;
			svg {
				height: 100%;
				display: flex;
				align-items: center;
				cursor: pointer;
			}
			.icon {
				display: flex;
				gap: 5px;
				align-items: center;
				padding: 2px 5px;
				cursor: pointer;
				&:hover {
					background-color: $secondaryAccent;
					border-radius: 4px;
				}
				span {
					font-size: 14px;
				}
			}

			button {
				background-color: $lightGray;
				width: fit-content;
				padding: 3px 15px;
				border-radius: 5px;
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;
				&:hover {
					background-color: lighten($lightGray, 2%);
				}
				&:nth-of-type(1) {
					margin-left: auto;
				}
			}
		}
	}
	.inputWrapperBordered {
		padding: 5px 15px;
		// margin-bottom: 1rem;
	}
	.inputWrapper {
		padding: 1rem;
		button {
			background-color: $lightGray;
			width: fit-content;
			padding: 5px 8px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			margin-left: auto;
			margin-top: 10px;
			&:hover {
				background-color: lighten($lightGray, 2%);
			}
		}
	}
}

.groupInputContainer {
	padding-top: 0;
}

.hideForm {
	@include breakpoint(xs) {
		opacity: 0;
	}
}

.commentInputContainer {
	position: relative;
	padding-top: 0;
	padding: 10px;
}

.icon {
	display: flex;
	gap: 5px;
	align-items: center;
	padding: 2px 5px;
	cursor: pointer;
	span {
		font-size: 14px;
	}
}
