@import '@/app/styles/variables';

.button {
	padding: 10px 30px;
	outline: none;
	border: none;
	outline: 1px solid $lightGray;
	display: flex;
	align-items: center;
	gap: 5px;
	width: 100%;
	justify-content: center;
	background-color: #373737;
	color: $white;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	&:disabled {
		background-color: lighten($lightGray, 1%) !important;
		cursor: default !important;
	}
	.buttonIcon {
		position: absolute;
		left: 10px;
	}
}
