@import '../../styles/variables';

.createPostInput {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 6px;
	height: fit-content;
	.profilePicture {
		margin-bottom: auto;
	}
	.textareaWrapper {
		background-color: $secondaryAccent;
		width: calc(100% - 80px);
		padding: 12px 15px;
		border-radius: 22px;
		margin-left: auto;
		height: fit-content;
		textarea {
			overflow: hidden;
			font-size: 14px;
			display: block;
			resize: none;
			background: none;
			outline: none;
			border: none;
			color: $white;
			width: 100%;
			&::placeholder {
				color: lightgray;
			}
			&:focus::placeholder {
				color: transparent;
			}
		}
		img {
			min-height: 200px;
			position: relative !important;
			border-radius: 6px;
			margin-top: 10px;
		}
	}
}
