@import '../../styles/variables';

.createPostInput {
	width: 100%;
	display: flex;
	align-items: center;
	height: fit-content;
	.profilePicture {
		margin-bottom: auto;
	}
	.textareaWrapper {
		background-color: $secondaryAccent;
		width: calc(100% - 50px);
		padding: 12px 15px;
		border-radius: 22px;
		margin-left: auto;
		height: fit-content;
		position: relative;
		textarea {
			overflow: hidden;
			font-size: 14px;
			display: block;
			resize: none;
			background: none;
			outline: none;
			border: none;
			color: $white;
			width: calc(100% - 30px);
			&::placeholder {
				color: lightgray;
			}
			&:focus::placeholder {
				color: transparent;
			}
		}
		.commentBtn {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			background-color: $accent;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			outline: none;
			border: none;
			margin-top: 0;
			padding: 0;
			cursor: pointer;
			&:hover {
				background-color: darken($accent, 5%);
			}
			&:disabled {
				background-color: darken($accent, 15%);
				cursor: default;
			}
		}
		img {
			min-height: 200px;
			position: relative !important;
			border-radius: 6px;
			margin-top: 10px;
		}
	}
}
