@import '../../styles/breakpoints';
@import '../../styles/variables';

.overlay {
	justify-content: center;
	align-items: center;
	display: flex;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999999;
	outline: none;
	background-color: rgba(48, 48, 48, 0.7);
}

.modal {
	position: relative;
	width: 55%;
	height: fit-content;
	padding: 1rem;
	border-radius: 4px;
	background-color: $black;
	color: $white;
	@include breakpoint(xs) {
		width: 95%;
	}
	.modalContent {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		.modalHeader {
			width: 100%;
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid $lightGray;
			position: relative;
			.modalIcon {
				position: absolute;
				left: 10px;
				cursor: pointer;
			}
		}
		.modalBody {
			.chooseLeague {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: 1rem;
				max-height: 400px;
				margin-top: 1rem;
			}
			.chooseMatch {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: 1rem;
				max-height: 400px;
				margin-top: 1rem;
			}
		}
		.buttonsContainer {
			display: flex;
			gap: 1rem;
			button {
				width: 100%;
			}
		}
	}
}
