@import '@/app/styles/breakpoints';
@import '@/app/styles/variables';
@import '@/app/styles/mixins';

.overlay {
	@include overlay();
}

.modal,
.hideModal {
	@include modal();
	.modalContent {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@include breakpoint(xs) {
			min-height: 100vh;
		}
		position: relative;
		padding: 10px 0;
		overflow-y: auto;
		.modalHeader {
			width: 100%;
			padding: 10px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #4d4d4d;
			position: relative;
			gap: 1rem;
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 24px;
		}
		.modalBody {
			.chooseLeague,
			.chooseMatch,
			.chooseOdds {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				max-height: 400px;
				margin-top: 1rem;
			}
			.chooseOdds {
				height: unset;
				label {
					font-size: 12px;
				}
				.wager {
					display: flex;
					position: relative;
					gap: 1rem;
					.wagerInput {
						width: 100%;
					}
					.payoutContainer {
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						gap: 10px;
						label {
							margin-top: 10px;
						}
						.payout {
							@include button();
							border-radius: 4px;
						}
					}
				}
				.confidence {
					display: flex;
					flex-direction: column;
					gap: 10px;
					label {
						font-size: 12px;
					}
				}
			}
			.bodyContent {
				.imageUploadLabel {
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 10px;
				}
				img {
					border-radius: 50%;
				}
			}
			.tabs {
				background-color: transparent;
				height: 35px;
				border-radius: 15px;
				width: 88%;
				margin: 0 auto;
				display: flex;
				border: 1px solid #373737;
				justify-content: space-between;
				@include breakpoint(xs) {
					width: 100%;
				}
				p,
				.tabs,
				.selected {
					flex: 1;
					border-radius: 15px;
					font-size: 12px;
					display: flex;
					align-items: center;
					justify-content: center;
					text-transform: uppercase;
					font-weight: 500;
					padding: 8px;
					cursor: pointer;
				}
				.selected {
					background-color: #4d4d4d;
				}
			}
			.groupSettingsName {
				text-transform: uppercase;
				font-weight: 600;
				margin-top: 2rem;
			}
			.groupName {
				margin-top: 1rem;
			}
			.emojiSelector,
			.advancedSettings {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;
				font-weight: 600;
				font-size: 16px;
				padding-bottom: 24px;
				border-bottom: 1px solid #4d4d4d;
				margin-top: 1rem;
				.content {
					display: flex;
					align-items: center;
					gap: 1rem;
					.selector {
						height: 48px;
						width: 48px;
						border-radius: 16px;
						min-width: 48px;
						background-color: #373737;
						font-size: 2rem;
						display: flex;
						justify-content: center;
						align-items: center;
						padding-bottom: 3px;
						position: relative;
						cursor: pointer;
					}
					.picker {
						position: absolute;
						top: -150%;
						left: 100%;
						font-size: 14px;
						z-index: 9999;
					}
					.description {
						font-size: 12px;
						color: #c5c5c5;
						font-weight: 400;
						width: 70%;
					}
				}
			}
			.advancedSettings {
				text-transform: uppercase;
				font-weight: 600;
				margin-top: 24px;

				.setting {
					margin-top: 1rem;
					text-transform: none;
					font-size: 14px;
					display: flex;
					align-items: center;

					.text {
						display: flex;
						flex-direction: column;
						gap: 5px;
						.name {
						}
						.description {
							font-size: 12px;
							color: #c5c5c5;
							font-weight: 400;
							width: 100%;
						}
					}
					input {
						max-width: 50px;
						display: flex;
						align-items: center;
						justify-content: center;
						&::-webkit-outer-spin-button,
						&::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}
						font-weight: 600;
					}
					.toggle {
						width: fit-content;
						margin-left: auto;
					}
				}
			}
			.addProfilePicture {
				height: fit-content;
				font-size: 12px;
				display: flex;
				align-items: center;
				margin-top: 10px;
				gap: 1rem;
				padding: 2rem 0;
				.label {
					padding-bottom: 10px;
				}
				.imagePreview {
					.image {
						height: 100px;
						width: 100px;
						background-color: $lightGray;
						img {
							object-fit: cover;
						}
					}
				}
				.imageSelector {
					margin-top: 20px;
				}
			}
			.visibility {
				margin-top: 10px;
				.label {
					font-size: 12px;
					padding-bottom: 10px;
				}
				.buttons {
					display: flex;
					gap: 1rem;
					.public,
					.private,
					.selected {
						@include button();
					}
					.selected {
						border: 1px solid $accent;
					}
				}
			}
		}
		.buttonsContainer {
			display: flex;
			gap: 1rem;
			margin-top: auto;
			padding-top: 1rem;
			button {
				width: 100%;
				background-color: $accent;
				&:nth-of-type(1) {
					background-color: #4d4d4d;
					font-weight: 600;
					font-size: 16px;
					&:hover {
						background-color: darken(#4d4d4d, 2%);
					}
				}
				&:hover {
					background-color: darken($accent, 5%);
				}
			}
		}
		.demoLogin {
			height: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			p {
				font-size: 14px;
				margin-top: 10px;
			}
			button {
				background-color: $accent;
				font-size: 16px;
				font-weight: 600;
				&:hover {
					background-color: darken($accent, 5%);
				}
			}
		}
	}
}

.hideModal {
	transform: translateY(300px);
	opacity: 0;
}
