@import '@/app/styles/variables';
@import '@/app/styles/breakpoints';
@import '@/app/styles/mixins';

.page {
	@include page();
	padding-top: 2rem;
	@include breakpoint(xs) {
		position: relative;
		top: $gamebarHeight;
		padding-top: 2rem;
	}
	.header {
		border-bottom: 1px solid $lightGray;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 1rem 15px;
		padding-top: 0;
		position: relative;
		color: $secondaryText;
		background: $gray;
		.name {
			display: flex;
			align-items: center;
			font-size: 1rem;
			color: $white;
			font-weight: 500;

			@include breakpoint(sm) {
				font-size: 1rem;
			}
			img {
				border-radius: 6px;
				object-fit: cover;
			}
		}
		.description {
			display: flex;

			font-style: italic;
			font-weight: 400;
		}

		.members {
			color: $accent;
		}
		.menu {
			position: absolute;
			right: -1rem;
			top: 1rem;
			cursor: pointer;
		}
	}
	.body {
		// margin-top: 2rem;
		@include breakpoint(xs) {
			margin: 0;
		}
	}
}
