@import '@/app/styles/mixins';

.match,
.borderedMatch {
	@include button();
	margin: 10px 0;
	&:hover {
		background-color: lighten($secondaryAccent, 2%);
	}
}

.borderedMatch {
	border: 1px solid $accent;
	background-color: $secondaryAccent;
	&:hover {
		background-color: $secondaryAccent;
	}
}
