@import '@/app/styles/variables';
@import '@/app/styles/breakpoints';
@import '@/app/styles/mixins';

.profileHeader {
	background-color: $gray;
	width: 100%;
	height: fit-content;
	padding: 1rem;
	position: relative;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-top: 2rem;
	.top {
		display: flex;
		gap: 1rem;
		width: 100%;
		align-items: center;
		position: relative;
		height: 60px;
		.profilePicture {
			width: 75px;
			height: 75px;
			@include breakpoint(xs) {
				width: 50px;
				height: 50px;
			}
			img {
				border-radius: 5px;
				min-width: 75px !important;
				min-height: 75px !important;
				object-fit: fill;
				@include breakpoint(xs) {
					min-width: 50px !important;
					min-height: 50px !important;
					max-width: 50px !important;
					max-height: 50px !important;
				}
			}
		}
		.profileName {
			h1 {
				font-size: 26px;
				display: flex;
				align-items: center;
				gap: 5px;
				@include breakpoint(xs) {
					font-size: 20px;
				}
				svg {
					width: 20px;
					height: 20px;
					position: relative;
					top: 0px;
				}
			}
			p {
				font-size: 16px;
				color: $secondaryText;
				font-weight: 300;
			}
		}
	}
	.middle {
		display: flex;
		align-items: center;
		// padding: 1rem 0;
		height: fit-content;
		padding-top: 1rem;

		@include breakpoint(xs) {
			padding: 0;
		}
		.points,
		.record {
			display: flex;
			gap: 5px;
			align-items: center;
			font-weight: 600;
			color: #f1c40f;
			position: relative;
			width: fit-content;
			height: 20px;
			svg {
				max-width: 15px;
			}
			&:hover {
				&::after {
					position: absolute;
					content: 'Total points';
					background-color: $black;
					color: $secondaryText;
					padding: 3px 5px;
					border-radius: 4px;
					top: 1.2rem;
					right: -65px;
					width: 85px;
					font-size: 13px;
					display: flex;
					justify-content: center;
				}
			}
		}
		.record {
			color: $secondaryText;
			span {
				color: #f1c40f;
			}
			&:hover {
				&::after {
					content: 'Bet record';
				}
			}
		}
		.bio,
		.noBioMessage {
			padding: 1rem 0;
			font-size: 13px;
			color: $white;
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 1rem;
			.joined {
				display: flex;
				flex-direction: column;
				gap: 2px;
				background-color: $lightGray;
				padding: 10px;
				border-radius: 4px;
				width: 100%;
				p {
					text-transform: uppercase;
					color: lighten($secondaryAccent, 35%);
					font-weight: 500;
					font-size: 13px;
				}
				span {
					color: lighten($secondaryAccent, 55%);
					font-size: 12px;
				}
			}
		}

		.noBioMessage {
			font-style: italic;
			display: flex;
			span {
				color: $accent;
				font-style: normal;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.userInfo {
		display: flex;
		gap: 1rem;
		align-items: center;
		font-size: 13px;
		p {
			font-weight: 600;
			color: $white;
		}
		span {
			color: #bec8db;
			font-weight: 400;
		}
	}
}
