@import '../../styles/mixins';

.odds {
	display: flex;
	gap: 1rem;
}
.oddsWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	label {
		font-size: 12px;
	}
}
.homeOdd,
.awayOdd,
.awayOddBordered,
.homeOddBordered {
	@include button();
	justify-content: space-evenly;
}

.awayOddBordered,
.homeOddBordered {
	border: 1px solid dodgerblue;
}
