@import '../../styles/mixins';
@import '../../styles/variables';

.userBox {
	width: 100%;
	height: fit-content;
	border-radius: 6px;
	position: relative;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 10px;
	.top {
		display: flex;
		align-items: center;
		gap: 1rem;
		width: 100%;
		img {
			border-radius: 5px;
		}
		.name {
			display: flex;
			flex-direction: column;
			p {
				display: flex;
				gap: 5px;
				align-items: center;
			}
			span {
				font-size: 13px;
				color: $secondaryText;
			}
		}
	}
	.bottom {
		width: 100%;
		display: flex;
		align-items: center;
		font-size: 13px;
		gap: 1rem;
		justify-content: space-between;
		.points {
			color: #f1c40f;
		}
	}
}
