@import '../../../styles/variables';

.postHeader {
	display: flex;
	gap: 20px;
	position: relative;
	.profilePicture {
		width: 59px;
		height: 59px;
		border-radius: 8px;
		img {
			border-radius: 8px;
		}
	}
	.userName {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.name {
			display: flex;
			gap: 10px;
			.followBtn {
				color: $accent;
				cursor: pointer;
				padding: 0 4px;
				border-radius: 4px;
				font-size: 13px;
				display: flex;
				align-items: center;
				&:hover {
					background-color: $lightGray;
				}
			}
			.hideFollowBtn {
			}
		}
		span {
			color: $secondaryText;
			font-size: 13px;
		}
	}
	.postMenu {
		margin-left: auto;
		cursor: pointer;
		height: fit-content;
		align-items: center;
		display: flex;
		p {
			font-size: 12px;
			color: $secondaryText;
		}
	}
}
