@import '../../styles/mixins';
@import '../../styles/variables';

.scoreboard {
	height: 100%;
	width: calc(100%);
	position: relative;
	display: flex;
	@include breakpoint(xs) {
		width: calc(100% - 17px);
	}
	.sportSelector {
		min-width: 135px;
		border-right: 1px solid $lightGray;
		padding: 2px;
		font-size: 13px;
		display: flex;
		flex-direction: column;
		color: $white;
		align-items: center;
		justify-content: center;
		gap: 5px;
		p {
			color: $secondaryText;
		}
	}
	.games {
		overflow-x: scroll;
		width: 100%;
		display: flex;
		// @include scrollbars();
		overflow-x: hidden;
	}
}
