@import '../../styles/mixins';
@import '../../styles/variables';

.scoreboard {
	height: 100%;
	width: calc(100%);
	position: relative;
	display: flex;
	@include breakpoint(xs) {
		width: calc(100% - 17px);
	}
	.sportSelector {
		min-width: 135px;
	}
	.games {
		overflow-x: scroll;
		width: 100%;
		display: flex;
		@include scrollbars();
	}
}
