@import '@/app/styles/variables';

.commentMenu {
	background-color: #f1f2f3;
	border: 1px solid $lightGray;
	width: 115px;
	height: fit-content;
	position: absolute;
	top: 5px;
	right: 1.1rem;
	border-radius: 4px;
	padding: 5px 0;
	color: $black;
	p {
		font-size: 12px;
		padding: 3px 10px;
		color: $black !important;

		&:hover {
			background: $accent;
			color: $white !important;
		}
	}
}
