@import '../../../styles/variables';

.gameCard {
	min-width: 135px;
	border-right: 1px solid $lightGray;
	color: white;
	padding: 5px 10px;
	.status {
		font-size: 10px;
		display: flex;
		width: 100%;
		color: $secondaryText;
		padding-bottom: 2px;
	}
	.teams {
		display: flex;
		flex-direction: column;
		height: 100%;
		.team {
			display: flex;
			height: 41%;
			width: 100%;
			font-size: 13px;
			align-items: center;
			gap: 5px;
			// padding: 5px;

			.score {
				margin-left: auto;
				color: $secondaryText;
			}
		}
	}
}
