@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar {
	position: relative;
	width: 100%;
	height: 100%;
	.sidebarHeader {
		width: 100%;
		height: $gamebarHeight;
		display: flex;
		align-items: center;
		padding: 0 1rem;
		gap: 1rem;
		// margin-bottom: 1rem;
		border-bottom: 1px solid $lightGray;
		h1 {
			font-size: 24px;
		}
		color: $white;
		justify-content: center;
		.profileImage {
			background-color: dodgerblue;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				object-fit: contain;
				max-width: 50px;
				max-height: 50px;
				border-radius: 50%;
				position: relative !important;
			}
		}
		.profileName {
			font-weight: 400;
			font-size: 20px;
			span {
				font-weight: 300;
				font-size: 16px;
				color: $secondaryText;
			}
		}
	}
}

.userMenu {
	position: relative;
	height: calc(100% - 104px - 1rem);
	margin-top: 2rem;
	.Link {
		@include button();
		color: $white;
		border: none;
		font-size: 16px;
		font-weight: 400;
		width: 90%;
		margin: 0 auto;
		padding: 1rem;
		margin-bottom: 1rem;
	}
	.logoutWrapper {
		position: absolute;
		bottom: 0rem;
		width: 100%;
		border-top: 1px solid $lightGray;
		display: flex;
		align-items: center;
		button {
		}
	}
}
