@import '@/app/styles/variables';
@import '@/app/styles/mixins';

.sidebar {
	position: relative;
	width: 100%;
	height: 100%;
	@include breakpoint(sm) {
		padding: 0 10px;
	}
	.sidebarHeader {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 1rem;
		gap: 10px;
		color: $white;
		display: none;
		@include breakpoint(sm) {
			display: block;
		}
		h1 {
			font-size: 24px;
			color: $white;
		}
		svg {
			max-width: 30px;
			max-height: 30px;
		}
		.profileImage {
			border: 1px solid $accent;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				object-fit: contain;
				max-width: 50px;
				max-height: 50px;
				border-radius: 50%;
				position: relative !important;
			}
		}
		.profileName {
			font-weight: 400;
			font-size: 20px;
			span {
				font-weight: 300;
				font-size: 16px;
				color: $secondaryText;
			}
		}
	}
}

.userMenu {
	position: relative;
	height: calc(100% - 190px - 1rem);
	margin-top: 0rem;
	padding: 0 10px;
	.closeMenu {
		display: none;
		@include breakpoint(xs) {
			display: flex;
			position: absolute;
			top: 1rem;
			right: 1rem;
			cursor: pointer;
		}
	}
	.pages,
	.groups,
	.events {
		color: $white;
		font-weight: 300;
		.label {
			padding: 0 1rem;
			color: $secondaryText;
			font-size: 13px;
			padding-bottom: 1rem;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			display: none;
			@include breakpoint(sm) {
				display: block;
			}
			span {
				background-color: $lightGray;
				color: $white;
				padding: 5px;
				width: 20px;
				height: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
			}
		}
		.Link,
		.activeLink,
		.createButton {
			@include button();
			color: $secondaryText;
			border: none;
			font-size: 16px;
			font-weight: 300;
			width: 100%;
			margin: 0 auto;
			gap: 9px !important;
			padding: 0;
			&:hover {
				background-color: darken($secondaryAccent, 1%);
				background: none;
				color: $white;
			}
			.notificationDot {
				width: 10px;
				height: 10px;
				background-color: $accent;
				border-radius: 50%;
			}
		}
	}

	.activeLink {
		background-color: $lightGray;
		color: $accent !important;
		background: none;
		&:hover {
			background-color: $lightGray;
			background: none;
		}
	}

	.pages {
		gap: 0.5rem;
		display: flex;
		flex-direction: column;
	}

	.createButton {
		background-color: $secondaryAccent;
		&:hover {
			background-color: darken($secondaryAccent, 1%) !important;
		}
	}

	.groups {
		display: none;
		@include breakpoint(sm) {
			display: block;
		}
		.group {
			@include button();
			border: none;
			font-size: 16px;
			font-weight: 300;
			width: 90%;
			margin: 0 auto;
			padding: 1rem 8px;
			display: flex;
			align-items: center;
			margin-top: 1rem;
			&:hover {
				background-color: $lightGray;
			}
			.image {
				background-color: $lightGray;
				border-radius: 6px;
				padding: 4px;
				p {
					font-size: 1.2rem;
					padding-bottom: 1px;
				}
			}
			.name {
				color: $white;
				font-weight: 400;
				font-size: 13px;
				.members {
					color: $secondaryText;
					font-weight: 300;
				}
			}
		}
	}
}

.userBoxNav {
	width: 90%;
	margin: 0 auto;
	height: fit-content;
	position: absolute;
	bottom: 0;
	padding: 0 12px;
	display: none;
	@include breakpoint(sm) {
		display: block;
	}
	@include breakpoint(xs) {
		position: relative;
	}
	.userBoxHeader {
		display: flex;
		gap: 10px;
		border-bottom: 1px solid $lightGray;
		padding-bottom: 15px;
		position: relative;
		img {
			max-width: 35px;
			height: 35px;
		}
		.userName {
			display: flex;
			flex-direction: column;
			gap: 0px;
			p {
				&:nth-of-type(1) {
					font-size: 13px;
					color: lightgray;
				}
				font-size: 11px;
				color: $secondaryText;
			}
			svg {
				&:nth-of-type(2) {
					max-width: 14px;
					max-height: 14px;
				}
			}
			.name {
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}
		.notifications {
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			position: absolute;
			right: 0px;
			top: 0px;
			.hasNotification {
				position: absolute;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $accent;
				right: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				align-items: center;
				color: $white;
				font-size: 9px;
			}
		}
	}
	.userBoxFooter {
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include breakpoint(xs) {
			position: relative;
			width: 100%;
			padding: 0 1px;
		}
		.points {
			font-size: 13px;
			font-weight: 400;
			color: #f1c40f;
			position: relative;
			bottom: 0px;
		}
		.icons {
			display: flex;
			gap: 1rem;
			align-items: center;
			position: relative;
			width: 30px;
			height: 30px;
			padding: 5px;
			border-radius: 50%;
			&:hover {
				background-color: $secondaryAccent;
				outline: 1px solid $border;
			}
			svg {
				cursor: pointer;
				position: relative;
				left: 3px;
			}
		}
	}
}

.overlay {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

.notificationsPopup {
	width: 200px;
	height: fit-content;
	max-height: 150px;
	border: 2px solid $lightGray;
	background-color: $black;
	position: absolute;
	right: -240px;
	top: 00px;
	border-radius: 6px;
	padding: 10px;
	color: $white;
	font-size: 13px;
	.notification {
		padding: 5px;
	}
}
