@import '@/app/styles/variables';
@import '@/app/styles/mixins';
@import '@/app/styles/breakpoints';

.newsCard {
	width: 100%;
	height: fit-content;
	border-radius: 4px;
	overflow: hidden;
	background-color: $secondaryAccent;
	border: 1px solid $lightGray;
	padding: 10px;
	color: $secondaryText;
	font-size: 13px;
	display: flex;
	position: relative;
	gap: 5px;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		background-color: lighten($secondaryAccent, 5%);
	}

	.newsCardBody {
		height: fit-content;
		min-height: 125px;
		display: flex;
		gap: 10px;
		width: 100%;
		position: relative;
		.newsCardText {
			width: 70%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px 0;
			@include breakpoint(xs) {
				width: 60%;
			}
			.headline {
				color: $white;
				font-weight: 600;
				font-size: 16px;
				@include breakpoint(xs) {
					font-size: 14px;
				}
			}
			.description {
				text-overflow: ellipsis;
				max-height: 53px;
				overflow: hidden;
				white-space: wrap;
				@include breakpoint(xs) {
					display: none;
				}
				@include breakpoint(sm) {
					display: block;
				}
			}
			.byline {
				display: flex;
				align-items: center;
				gap: 3px;
			}
		}
		.newsCardImage {
			width: 135px;
			height: 105px;
			border-radius: 4px;
			position: absolute;
			right: 0px;
			top: 10px;
			@include breakpoint(xs) {
				width: 105px;
				height: 105px;
			}
			img {
				max-width: 135px;
				max-height: 105px;
				min-height: 105px;
				border-radius: 4px;
				@include breakpoint(xs) {
					width: 105px;
					height: 105px;
				}
			}
		}
	}
	.newsCardFooter {
		display: flex;
		justify-content: space-between;
		p {
			font-style: italic;
		}
		a {
			color: $secondaryText;
		}
	}
}
