@import '../../../styles/variables';

.postCardFooter {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 13px;
	gap: 10px;
	position: relative;
	padding: 1rem;
	border-bottom: 1px solid $lightGray;
	.likePost,
	.comment {
		background-color: $lightGray;
		width: fit-content;
		padding: 5px 8px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		gap: 5px;
		cursor: pointer;
		&:hover {
			background-color: lighten($lightGray, 2%);
		}
		span {
			position: relative;
			padding-left: 8px;
			display: flex;
			justify-content: center;
			&:after {
				position: absolute;
				content: '';
				left: 0;
				background-color: $secondaryText;
				width: 1px;
				height: 65%;
				top: 50%;
				transform: translate(0%, -50%);
			}
		}
	}
}
