@import '../../styles/variables';

.news {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
	width: 100%;
	padding: 10px;
	margin-top: 2rem;
	// background-color: $gray;
	color: $white;
}
