@import '@/app/styles/variables';

.inputWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 1rem;
	label {
		font-size: 16px;
		margin-top: 10px;
		font-weight: 600;
	}
	.input {
		width: 100%;
		padding: 10px;
		border-radius: 8px;
		outline: none;
		height: 45px;
		border: none;
		background-color: #373737;
		color: #dadada;
		:disabled {
			cursor: not-allowed;
		}
	}
	.inputLabel {
	}
}
