@import '@/app/styles/variables';
@import '@/app/styles/breakpoints';
@import '@/app/styles/mixins';

.postBet {
	padding: 10px 1rem;
	background-color: $secondaryAccent;
	border-top: 1px solid $lightGray;
	border-bottom: 1px solid $lightGray;
	width: 100%;
	border-radius: 4px;
	@include breakpoint(xs) {
		margin: 0;
	}

	.postBetStatus {
		min-height: 30px;
		display: flex;
		align-items: center;
		padding-bottom: 10px;
		justify-content: space-between;
		.winBadge,
		.lossBadge,
		.openBadge {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 12px;
			padding: 3px 5px;
			border-radius: 4px;
			color: $black;
		}
		.winBadge {
			background-color: rgba(121, 189, 154, 0.25);
			border: 1px solid rgba(121, 189, 154, 0.5);
			color: #b7d6c6;
		}
		.lossBadge {
			background-color: rgba(221, 105, 105, 0.25);
			border: 1px solid rgba(221, 105, 105, 0.5);
			color: #f1d3d3;
		}
		.openBadge {
			background-color: rgba(105, 170, 221, 0.25);
			border: 1px solid rgba(105, 170, 221, 0.5);
			color: #c8d9ea;
		}
		.betOdds {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 13px;
			padding: 3px 8px;
			border-radius: 4px;
			color: $accent;
			background-color: $black;
		}
	}
	.postBetHeader {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		font-size: 14px;
		.betName {
			font-size: 12px;
			color: $secondaryText;
			@include breakpoint(xs) {
				font-size: 12px;
			}
		}
	}
	.postBetBody {
		font-size: 14px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 1rem;
		position: relative;
		@include breakpoint(xs) {
			font-size: 12px;
		}
		.betName {
			font-size: 14px;
			color: $secondaryText;
		}
		.team {
			display: flex;
			gap: 5px;
			align-items: center;
			font-weight: 500;

			.betOdds {
				margin-left: auto;
				color: #33ee91;
				font-size: 16px;
				font-weight: 600;
			}
		}
		.favBadge,
		.dogBadge {
			background-color: rgba(121, 189, 154, 0.25);
			padding: 1px 3px;
			border-radius: 4px;
			width: fit-content;
			border: 1px solid rgba(121, 189, 154, 0.5);
			font-weight: 400;
			color: #b7d6c6;
			font-size: 11px;
			text-transform: uppercase;
		}
		.dogBadge {
			background-color: rgba(255, 220, 97, 0.25);
			border: 1px solid rgba(255, 220, 97, 0.5);
			color: #ebe0b7;
		}
		.betType {
			text-transform: uppercase;
		}
		.wagerAndPayout {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 13px;

			.wager {
				color: $secondaryText;
				font-weight: 500;
			}
			.payout {
				color: $accent;
				font-weight: 600;
			}
		}
	}

	.disclaimer {
		font-size: 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		color: $secondaryText;
		padding-top: 10px;
		@include breakpoint(xs) {
			font-size: 9px;
		}
	}
}
